<%= form_for task, html: { class: "flex flex-col w-fit gap-y-4" } do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <div class="flex justify-start items-center gap-x-2">
    <%= form.submit "Save Task", class: "p-2 border rounded bg-gray-100 hover:bg-gray-200 cursor-pointer" %>
    <%- unless task.new_record? %>
      <%= link_to "Cancel", tasks_path %>
    <%- end %>
  </div>

<% end %>
